<html>
  <head>
    <title>Todo List</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Todo List</h1>

    <form method="POST" action="/task">
      <input type="text" placeholder="New task" name="task" autofocus required>
      <button type="submit">Add</button>
    </form>

    <h3>Tasks</h3>

    <ul>
      <% tasks.forEach((task, index) => { %>
        <li>
          <% if (task.done) { %>
            <s><%= task.title %></s> 
            | <a href="/task/<%= index %>/delete"> Delete</a>
          <% } else { %>
            <%= task.title %> 
            | <a href="/task/<%= index %>/done"> Done</a>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>